* {
	font-family:"Microsoft YaHei";
}

.clearfix{
	clear:both;
}

.screen .center{
	text-align: center;
	margin-top: 10px;
}

.none{
	display: none;
}

.mt30{
	margin-top: 30px;
}

.mt60{
	margin-top: 100px;
}

.button{
	display: inline-block;
	background-color: #479be1;
	height: 68px;
	line-height: 68px;
	text-align: center;
	vertical-align: middle;
	color:#ffffff;
}

.button.button-white{
	background-color: #f8f8f8;
	color:red;
}

.button.button-ms{
	width: 24%;
}

.button.button-sm{
	width: 29%;
}

.button.button-xs{
	width: 46%;
}

.button.button-lg{
	width: 96%;
}

.screen{
	position: relative;
	top: 43px;
	width: 100%;
	margin: auto;
	height: 88%;
	-webkit-transition: all .7s ease;
}

textarea{
	font-size: 18px;
	color:#bababa;
}

.full{
	display: block;
	width: 98.666%;
	border: none;
}
.half{
	display: inline;
	width: 48.33%;
	border: none;
}
.br1{
	border-right: solid 1px #bababa;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.h120{
	height: 120px;
}

.device{
	background-color: #fff;
	border: solid 1px gray;
	text-indent: 20px;
}

.grid{
	float: left;
  	width: 33.332%;
  	height: 110px;
	background-color: #fff;
	box-shadow: -1px -1px 0 #eeeeee inset, 1px 1px 0 #fff inset;
	padding-top: 20px;
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-moz-transition: -moz-transform 0.2s ease-out;
	-o-transition: -o-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;  	
}

.grid_hover{
/*	-webkit-transform:scale(0.96);
	-moz-transform:scale(0.96);
	-o-transform:scale(0.96);
	transform:scale(0.96);*/
	background-color: #f5f5f5;
}

.home_link{
	display: block;
}

.item{
	text-align: center;
  	vertical-align: middle;
}

.appspan2{
	width: 80px;
}

.appspan4{
	width: 160px;
}

[class*="appspan"]{
	float: left;
	margin-left: 20px;
}

.title{
	padding: 14px;
	background-color: #eaeaea;
	border: #dcdcdc solid 1px;
	color: #777777;
	height: 20px;
	font-size: 18px;
}

.desc{
	margin-top: 8px;
	color:#333333;
	font-size: 18px;
}

.icon_home {
	display: inline-block;
	width: 44px;
	height: 44px;
  	background-image: url("../img/icon/icon.png");
}

.icon_battery{ 
	background-position: 0px 0px;
}

.icon_network{
	background-position: -44px 0px;
}

.icon_media{
	background-position: -88px 0px;
}

.icon_camera{
	background-position: 0px -44px;
}

.icon_geo{
	background-position: -44px -44px;
}

.icon_intent{
	background-position: -88px -44px;
}

.icon_device{
	background-position: 0px -88px;
}

.icon_explorer{
	background-position: -44px -88px;
}

.icon_qrcode{
	background-position: -88px -88px;
}

.icon_location{
	background-position: 0px -132px;
}

.icon_contact{
	background-position: -44px -132px;
}

.icon_voice{
	background-position: -88px -132px;
}

.icon_campass{
	background-position: 0 -176px;
}

.icon_recognition{
	background-position: -44px -176px;
}

.icon_accelerator{
	background-position: -88px -176px;
}

.icon_capture{
	background-position: -132px -176px
}


/*百度云端icon*/
.icon_account{
	background-position: 0 -220px;
}

.icon_pay{
	background-position: -44px -220px;
}

.icon_share{
	background-position: -88px -220px;
}

.icon_push{
	background-position: -132px -220px;
}

/*页面管理能力 blend.ui*/

.icon_layer{
	background-position: -0px -264px;
}

.icon_layergroup{
	background-position: -44px -264px;
}

.icon_slider{
	background-position: -88px -264px;
}

/*下一屏button*/
.next{
	position: absolute;
	width: 100%;
	height: 30px;
	line-height: 30px;
	bottom: 40px;
	text-align: center;	
}

.icon_down{
	background-image: url("../img/icon/icon.png");
	background-position: -225px 0;
	display: inline-block;
	width: 26px;
	height: 18px;
	cursor: pointer;
	-webkit-transition:all 0.4s ease-out 0s;
	-moz-transition:all 0.4s ease-out 0s;
	-o-transition:all 0.4s ease-out 0s;
	transition:all 0.4s ease-out 0s;
}

.icon_down.reverse{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}

/*电量*/
#batterybox{
	position: relative;
	width: 238px;
	height: 384px;
	overflow: hidden;
	margin: 10px auto;
}
#battery {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/battery/battery.png");
  width: 100%;
  height: 100%;
}
#texture{
  position: absolute;
  top:24px;
  left:8px;
  background-image: url("../img/battery/texture.png");
  background-position: center center;
  border-radius:6%; 
  width: 224px;
  height: 360px; 
}
#level {
  background-image: url("../img/battery/greendot.png");
  position: absolute;
  width: 93%;
  height: 0px;
  bottom:8px;
  left:8px;
  -webkit-transition: all .7s ease;
}
#level.reddot{
  background-image: url("../img/battery/reddot.png");
}
.remained{
	font-size: 28px;
}
.remained::after{
	content:" %";
	font-size: 24px;
}

#qualitybox{
  position: absolute;
  overflow: hidden;
  width: 100%;
  text-align: center;
  top: 460px;
}
#quality{
  font-size: 2em;
}

#quality .low{
  color: #D91D21
}

#quality #percent{
  font-size: .5em;
}

/*接口返回值框*/
.result textarea{
	width: 100%;
	height: 80px;
}

/*网络相关*/
.network{
	display: inline-block;
	background-image: url("../img/icon/networks.png");	
	background-repeat: no-repeat;
}

.network.cell{
	width: 264px;
	height: 220px;
	background-position: 0 0;
}

.network.g2{
	width: 264px;
	height: 220px;
	background-position: 0 -220px;
}

.network.g3{
	width: 264px;
	height: 220px;
	background-position: 0 -440px;
}

.network.g4{
	width: 264px;
	height: 220px;
	background-position: 0 -660px;
}

.network.unknown{
	width: 320px;
	height: 270px;
	background-position: -272px 0;
}

.network.wifi{
	width: 320px;
	height: 260px;
	background-position: -272px -271px;	
}

.network.ethernet{
	width: 320px;
	height: 270px;
	background-position: -272px -526px;
}

.network.warning{
	width: 320px;
	height: 270px;
	background-position: -272px -658px;
}

/*加速器*/
ul.list{
	display:table;
	list-style-type:none;
	padding: 8px;
}

.list li{
	line-height: 46px;
}

.list li.split{
	height: 1px;
	border-bottom: solid 1px gray;
}
/*指南针*/
.box{
	position: relative;
	width: 260px;
	height: 260px;
	margin: 50px auto;
}
.pan{
	position: absolute;
	background-size: 260px 260px;
	width: 260px;
	height: 260px;
	background-image: url(../img/icon/pan.png);
}

.pointer{
	position: absolute;
	top:17px;
	left: 113.5px;
	background-size: 33px 226px;
	width: 33px;
	height: 226px;
	background-image: url(../img/icon/pointer.png);
}

/*文件上传*/
.upload-file,.file_box {

   display: inline-block;

   margin: 5px auto;

   width: 76px;

   height: 48px;

}

.upload-file {

   cursor: pointer;

   opacity: 0;

}

.file_box {

   background: url("../img/icon/search.png") no-repeat ;

   cursor: pointer;

   height: 48px;

   position: relative;

}

/*进度类*/
.progress{
	position: relative;
	border-radius: 5px;
	border: 1px solid gray;
	width: 300px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

.progress .load{
	position: absolute;
	-webkit-transition: width 0.5s ease-out;
	-moz-transition: width 0.5s ease-out;
	-o-transition: width 0.5s ease-out;
	transition: width 0.5s ease-out;
	width: 0;
	height: 20px;
	background-color: #5eb1f5;	
}

.progress .percent{
	position: absolute;
	width: 100%;
}

/*页面tips*/
.tips{
	position: absolute;
	background-color: #000;
	filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
	-moz-opacity:0.8; /*Firefox私有，透明度50%*/
	opacity:0.8; /*其他，透明度50%*/
	min-width: 118px;
	height: 56px;
	line-height: 56px;
	margin:-28px 0  0 -59px;
	text-align: center;
	top: 50%;
	left: 50%;
	border-radius: 5px;
	color: #fff;
	vertical-align: middle;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

.tips.opacity{
	filter:alpha(opacity=10); /*IE滤镜，透明度50%*/
	-moz-opacity:0.1; /*Firefox私有，透明度50%*/
	opacity:0.1; /*其他，透明度50%*/
}

/*联系人*/
ul.contact{
	list-style-type: none;
	padding: 0;
	font-size: 18px;
	padding-left: 12px;
	height: 100%;
	overflow-y: scroll;
}

ul.contact li.split{
	margin: 10px 0;	
}

ul.contact li.split{
	height: 1px;
	border-bottom: solid 1px #d7d6d9;	
}

ul.contact li p{
	margin: 0;
}